*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    max-width: 1440px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


footer{
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* padding: 61px 141px 0 160px; */
    background: url(./img/bg.png);
}

.text{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 61px;
}
.text p{
    font-weight: 400;
    font-size: 45px;
    line-height: 65px;
    letter-spacing: -0.035em;

    color: #424346;
}

.footerJs{
    width: 1139px;
    height: 217px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
   
}

.footerJs .yonalish{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.footerJs .yonalish p{
    font-weight: 400;
    font-size: 24px;
    line-height: 224.68%;
    /* or 54px */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;

    color: #000000;
}
.footerJs .yonalish a{
    
    font-weight: 400;
    font-size: 20px;
    line-height: 224.68%;
    /* or 45px */

    display: flex;
    align-items: center;
    letter-spacing: -0.035em;

    color: #8A8A8A;
}
.botton{
    width: 1366px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
}